body {
	margin: 0;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin: 0;
	font-size: 32px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 22px;
	color: #777777;
}

.header {
	background: #ffffff;
	width: 1440px;
	height: 91px;
	margin-top: 0;
	position: relative;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 2px;
}

#Name {
	float: left;
	color: white;
	background: #4aaaa5;
	padding: 28px 36px;
	margin-left: 160px;
	border-width: 1px;
	text-align: center;
}

#HeaderLinks {
	float: right;
	margin-right: 240px;
	margin-top: 36px;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#About {
	color: #99999c;
	position: absolute;
	right: 440px;
}

#Portfolio {
	color: #99999c;
	position: absolute;
	right: 334px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #df9;
	padding-left: 19px;
}

#Contact {
	color: #99999c;
	position: absolute;
	right: 245px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #df9;
	padding-left: 11px;
}

.container {
    clear: both;
 	width: 1440px;
 	height: 750px;
	background: #eaeaea;
	margin: 0;
}

#AboutMe h2 {
	color: #4aaaa5;
	font-size: 32px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	border-bottom-width: 3px;
	padding-bottom: 35px;
	margin-bottom: 30px;
}


#AboutMe {
	float: left;
	width: 650px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin-top: 40px;
	margin-left: 160px;
	margin-right: 42px;
	padding: 22px 32px;
	background: #ffffff;
}

#profilePic {
	float: left;
	margin-right: 26px;
}

#ConnectWithMe {
	float: left;
	width: 207px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding: 10px 33px;
	margin: 40px 0;
	background: #ffffff;
}

#ConnectWithMe h2 {
	margin-bottom: 25px;
	color: #4aaaa5;
	font-weight: lighter;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	border-bottom-width: 2px;
	padding-bottom: 26px;
}

#connectLinks {
	margin-top: 25px;
}

#github {
	float: left;
	width: 69px;
	text-align: center;

}

#linkedin {
	float: left;
	width: 69px;
	text-align: center;

}

#stack {
	float: left;
	width: 69px;
	text-align: center;

}

footer {
	clear: both;
	width: 1440px;
	height: 94px;
	background: #666666;
	text-align: center;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 9px;
	font-size: 12px;
	font-weight: lighter;
	position: relative;
}

footer p {
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -11px;
	margin-left: -85px;
	color: #c3cdb6;
}

